.restaurant_card{
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    .image_section{
        width: 100%;
        height: 200px;
        border-top-right-radius: 20px;
        border-top-right-radius: 20px;

        img{
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

    }
    .content_section{
        padding: 10px 12px;
        .title{
            color: #555555;
            font-size: 20px;
            font-weight: 700;
        }
        .description{
            margin-top: 5px;
            font-size: 16px;
            color: #555555;
        }
        .rating-section{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            .offer{
                font-size: 16px;
                font-weight: 400;
                color: #333;
            }
            .rating{
                span{
                    color: #333;
                }
            }

        }
        

    }   

}
